@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* :root {
    --gradient: #00bf8f;

    --background: 175 65% 3.04%;
    --foreground: 175 10% 96.9%;

    --muted: 175 50% 11.4%;
    --muted-foreground: 175 10% 53.8%;

    --popover: 175 45% 4.94%;
    --popover-foreground: 175 10% 96.9%;

    --card: 175 45% 4.94%;
    --card-foreground: 175 10% 96.9%;

    --border: 175 50% 11.4%;
    --input: 175 50% 11.4%;

    --primary: 175 100% 38%;
    --primary-foreground: 175 10% 96.9%;

    --secondary: 175 50% 11.4%;
    --secondary-foreground: 175 10% 96.9%;

    --accent: 175 50% 11.4%;
    --accent-foreground: 175 10% 96.9%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 175 10% 96.9%;

    --ring: 175 100% 38%;
  } */

  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #4cb8c4, #3cd3ad);

    --background: 198 33.15% 4.24%;
    --foreground: 198 5.1% 97.65%;

    --muted: 198 25.5% 15.9%;
    --muted-foreground: 198 5.1% 55.3%;

    --popover: 198 54.8% 6.890000000000001%;
    --popover-foreground: 198 5.1% 97.65%;

    --card: 198 54.8% 6.890000000000001%;
    --card-foreground: 198 5.1% 97.65%;

    --border: 198 25.5% 15.9%;
    --input: 198 25.5% 15.9%;

    --primary: 198 51% 53%;
    --primary-foreground: 198 5.1% 5.300000000000001%;

    --secondary: 198 25.5% 15.9%;
    --secondary-foreground: 198 5.1% 97.65%;

    --accent: 198 25.5% 15.9%;
    --accent-foreground: 198 5.1% 97.65%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 198 5.1% 97.65%;

    --ring: 198 51% 53%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .backgroundGrid {
    position: relative;
  }

  .backgroundGrid::before {
    content: "";
    background-color: #1e2c33;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: radial-gradient(#4ba0c5 0.5px, #000 0.5px);
    background-size: 10px 10px;
    opacity: 0.2;
    z-index: 2;
  }

  .backgroundGrid > * {
    position: relative; /* Position the content */
    z-index: 3;
  }
}

/* Hide 3rd and 4th div of .sketch-picker */
.sketch-picker > div:nth-child(3),
.sketch-picker > div:nth-child(4) {
  display: none !important;
}

.sketch-picker > div:nth-child(2) > div > div > div > div > div > div {
  width: 14px !important;
  height: 14px !important;
  border-radius: 100% !important;
  background: transparent !important;
  border: 2px solid #fff !important;
}

.sketch-picker > div:nth-child(1) > div > div > div:nth-child(2) > div {
  width: 12px !important;
  height: 12px !important;
}
